/* Your CSS styles go here */
body{
  background-color:white;
}
.title {
  position:absolute;top:110px;left:800px;color:red;
}
.title1
{
  padding-left:0px;margin-top:10px;
}
.title3
{
  font-size:36pt;color:orange;
}
.title4
{
  padding-left:150px;margin-top:3px;
}
.title5
{
  background-color:white;width:150px;height:700px;float:left;
}
.title6
{
  background-color:white;float:left;width:700px;height:1800px;
}
.titlel
{
  font-size:15pt
}
